{% extends 'base.html' %}

{% block title %}
    {{ article.versions[-1].title }} - Versions
{% endblock %}

{% block content %}
    <h1 class="mb-4">{{ article.versions[-1].title }} - Versions</h1>
    <div class="table-responsive">
        <form method="post" action="{{ url_for('articles.compare_versions', filename=article.filename) }}">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Select</th>
                        <th>Version Title</th>
                        <th>Timestamp</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for version in article.versions[::-1] %}
                        <tr>
                            <td>
                                <input type="checkbox" name="selected_versions" value="{{ version.timestamp }}">
                            </td>
                            <td>{{ version.title }}</td>
                            <td>{{ version.timestamp | format_timestamp }}</td>
                            <td>
                                <a href="{{ url_for('articles.view_specific_version', filename=article.filename, timestamp=version.timestamp) }}" class="btn btn-info btn-sm">View</a>
                                <a href="{{ url_for('articles.restore_version', filename=article.filename, timestamp=version.timestamp) }}" class="btn btn-success btn-sm">Restore</a>
                                <a href="{{ url_for('articles.delete_version', filename=article.filename, timestamp=version.timestamp) }}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Compare Selected Versions</button>
        </form>
    </div>
    <a href="{{ url_for('articles.view_article', filename=article.filename) }}" class="btn btn-primary mt-3">Back to Article</a>
{% endblock %}
