{% extends 'base.html' %}

{% block title %}
    Compare Versions - {{ article_data.versions[-1].title }}
{% endblock %}

{% block content %}
    <div class="markdown-body">
        <h2 class="compare-title">Comparing Versions for <em>{{ article_data.versions[-1].title }}</em></h2>
        <div class="version-list">
            <h3 class="mb-3">Versions:</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ url_for('articles.view_specific_version', filename=article_data.filename, timestamp=version1.timestamp) }}">
                        {{ version1.title }} ({{ version1.timestamp }})
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="{{ url_for('articles.view_specific_version', filename=article_data.filename, timestamp=version2.timestamp) }}">
                        {{ version2.title }} ({{ version2.timestamp }})
                    </a>
                </li>
            </ul>
        </div>

        <h3>Differences:</h3>
        <div class="compare-content">
            <pre class="diff-output">
                {{ render_diff(version2.content, version1.content) | safe }}
            </pre>
        </div>
    </div>
    <a href="{{ url_for('articles.view_article_versions', filename=article_data.filename) }}" class="btn btn-primary mt-3">Back to Versions</a>
{% endblock %}